{% extends "inc/base.j2" %}
{% block content %}
  <div class="menu">
    <h3>groups</h3>
  </div>


  <table class="table table-sm">
    <tr>
      <th>name</th>
      <th>type</th>
      <th>checked_at</th>
      <th>check</th>
      <th>view</th>
    </tr>
    {% for g in groups %}
      <tr>
        <td>{{ g.id }}</td>
        <td>{{ g.type.value }}</td>
        <td>{{ g.checked_at | dt }}</td>
        <td><a href="/api-link?method=post&url=/api/groups/{{ g.id }}/check">check</a></td>
        <td><a href="/api/groups/{{ g.id }}">view</a></td>
      </tr>
    {% endfor %}
  </table><br>

  <hr>

  <section>
    <h4>create group</h4>
    {{ simple_form(form, submit="create") }}
  </section>


{% endblock %}
